# Virtual environment
.venv/
venv/
ENV/
env/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Environment variables / Secrets
.env

# IDEs
.vscode/
.idea/

# Filings
filings/

# Generated Summaries
draft_summary.md
final_summary.md

